{
  "apps/**/*.{js,ts,jsx,tsx,css,scss,sass,md}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/ui/**/*.{js,ts,jsx,tsx,css,scss,sass,md}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ]
}
